.checkout {
   
    ul{
        display: flex;
        justify-content: flex-start;
        list-style-type: none;

        li {
            margin: 0 2px;
            padding: 5px;
        }
    }


}